@model StockWatchClient.Models.StockViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.StockId)
            <div class="form-group">
                <label asp-for="Logo" class="control-label">LogoUrl</label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listdate" class="control-label"></label>
                <input asp-for="Listdate" class="form-control" />
                <span asp-validation-for="Listdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry" class="control-label"></label>
                <input asp-for="Industry" class="form-control" />
                <span asp-validation-for="Industry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marketcap" class="control-label"></label>
                <input asp-for="Marketcap" class="form-control" />
                <span asp-validation-for="Marketcap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees" class="control-label"></label>
                <input asp-for="Employees" class="form-control" />
                <span asp-validation-for="Employees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ceo" class="control-label"></label>
                <input asp-for="Ceo" class="form-control" />
                <span asp-validation-for="Ceo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label">WebsiteUrl</label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exchange" class="control-label"></label>
                <input asp-for="Exchange" class="form-control" />
                <span asp-validation-for="Exchange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hq_address" class="control-label"></label>
                <input asp-for="Hq_address" class="form-control" />
                <span asp-validation-for="Hq_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
